<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- <link rel="stylesheet" href="/maxmillan/public/shop.css"> -->
    <link rel="stylesheet" href="/shop.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/product-list">Shop</a></li>
                <li><a href="/add-product">Add Products</a></li>
                <li><a href="/product-details">Product Details</a></li>
                <li><a href="/admin-product">Admin Product</a></li>
            </ul>
        </nav>
    </header>   
    <main class="main-body">
        <h1>Page Not Found</h1>
    </main>
    <!-- <h1>Page Not Found</h1> -->
</body>
</html>