<%-include('../includes/head.ejs')%>
    <title><%=docTitle%></title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div>
                <ul>
                <li><a class="<%= path==='/' ? 'active' : '' %>" href="/">Home</a></li>
                <li><a href="/product-list">Shop</a></li>
                <li><a href="/add-product">Add Products</a></li>
                <li><a href="/product-details">Product Details</a></li>
                <li><a href="/admin-product">Admin Product</a></li>

            </ul>
            </div>
            <div class="cart-icon">
                <ul><li><a href="/cart"><img src="/assets/shoppingcart.png" alt="Cart"></a></li></ul>
            </div>
        </nav>
    </header>    
    <main class="main-body">
        <span class="main-title"><h1>Welcome to world's best shopping website</h1></span>
        <div class="main-container">
            <img src="/assets/index-image.jpg" alt="">
        </div>
    </main>
</body>
</html>